*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#2CB3F3;
}
.titulo{
  text-align: center;
  line-height:45px
}
.corpo{
  background: #FFFFFF;
    width: 550px;
    height: 400px;
    position: relative;
    left: 500px;
    top: 50px;
    border-radius: 100px 100px 0px 0px;
    
    
}
.rosto{
  background:#FFE1C9;
    width: 440px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 55px;
}
.olhod{
  position: absolute;
    top: 30px;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 70px;
    right:80px;  
}
.olhoe{
  position: absolute;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 145px;
    left: 120px;      
}
.login{
  position:absolute;
  top:220px;
  left:185px;
}
.email{
  position:relative;
  top:240px;
  left:185px;
}